@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;900&family=Manrope:wght@200..800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  /* font-size: 62.5%; */
  font-family: 'Inter';
  color: #172554;
}

.sidebar ::-webkit-scrollbar {
  width: 6px;
}

.sidebar ::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar ::-webkit-scrollbar-thumb {
  background: #8F9AA8;
  border-radius: 5px;
}
